// New avatar width
$vertical-padding: 16px;
$topic-avatar-width: 120px;

.topic-avatar {
  width: #{$topic-avatar-width};
  padding-bottom: #{$vertical-padding};
}

.topic-avatar .avatar,
.embedded-posts .topic-avatar {
  width: #{$topic-avatar-width};
  height: #{$topic-avatar-width};
}

// Make username flush with avatar
.topic-body {
  padding-top: #{$vertical-padding};
}

// Custom min-height to account for bigger avatar
.cooked {
  min-height: 28px;
}
